body {
    font-family: Arial, sans-serif;
}

/*  */
.file-upload {
  text-align: center;
}

.file-thumbnail {
  margin-bottom: 10px;
}

.file-name {
  font-size: 14px;
}
#choose-file {
  position: absolute;
  left: -9999px;
}
#choose-file {
    height: 0;  
    width: 0;
    overflow: hidden;
  }

.wrapper {
  background-color: #ffffffb2;
}

body {
  background-color: #F8F8F8;
}

#thumbnailContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px; /* Add some top margin for spacing */
    padding: 5px; /* Add padding for better visibility */
    border: 1px solid #ccc; /* Add border for visualization */
    border-radius: 5px; /* Add border radius for rounded corners */
    background-color: #f9f9f9; /* Add background color for better contrast */
    min-height: 100px; /* Set initial height */
  }
  .thumbnail {
    width: 90px;
    height: 100px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .thumbnail img {
    max-width: 100%;
    max-height: 100%;
  }