body {
    font-family: Arial, sans-serif;
}

/*  */
.file-upload {
  text-align: center;
}

.file-thumbnail {
  margin-bottom: 10px;
}

.file-name {
  font-size: 14px;
}
#choose-file {
  position: absolute;
  left: -9999px;
}
#choose-file {
    height: 0;  
    width: 0;
    overflow: hidden;
  }

.wrapper {
  background-color: #ffffffb2;
}

body {
  background-color: #F8F8F8;
}

#thumbnails-container {
  display: grid; /* Use flexbox layout */
  flex-direction: row;
  align-items: center; /* Align items vertically */
  margin-bottom: 10px; /* Add some margin between rows */*/
}
.img-thumbnail {
  width: 50px; /* Set the width to your desired size */
  height: auto; /* Let the height adjust automatically */
  margin: 5px; 
}

